<!doctype html>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>CEP - UNA | Centro de Estudiantes de la Facultad
	Polictenica UNA</title>
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- CSS & google font
  ================================================== -->

<link rel="stylesheet" type="text/css" href="css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css" media="all">

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300|Roboto+Slab:400,300'
	rel='stylesheet' type='text/css'>


<!-- Favicons
  ================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- js
  ================================================== -->

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/mgmenu_plugins.js"></script>
<script src="js/mgmenu.min.js"></script>
<script src="js/modernizr.js"></script>


<!-- js IE8 Hack
  ================================================== -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.js"></script>
    <![endif]-->

</head>

<body class="HomePage">
	<div id="wrap" class="">

		<!-- Header starts
  ================================================== -->

		<div class="top-bar">
			<div class="container">

				<div class="top-links col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<a href="login.php">Intranet</a>
				</div>

				<div class="top-co-inf col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h6>
						<i class="icomoon-envelop-2"></i> info@cepuna.com
					</h6>
					<h6>
						<i class="icomoon-phone-2"></i>(021) 588 7194
					</h6>
				</div>

			</div>
		</div>

		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 Headerlogo">
						<a href="index-2.html"> <img src="images/logo.png"
							class="logo" alt="CEP" /></a>
					</div>

					<div
						class="col-xs-12 col-sm-5 col-md-5 col-lg-5 headerSocial hidden-xs">
						<div class="socialfollow">
						  <a href="https://www.facebook.com/cepunapy" class="facebook"><i class="icomoon-facebook Three-Dee"></i></a> 		  
						  <a href="https://twitter.com/cepunapy" class="twitter"><i class="icomoon-twitter Three-Dee"></i></a> 
						  <a href="https://www.instagram.com/cepunapy/" class="instagram"><i class="icomoon-instagram Three-Dee"></i></a>
						</div>
					</div>
				</div>
			</div>
		</header>


		<!-- Header ends
  ================================================== -->


		<!-- Navigation starts
  ================================================== -->
		<div class="">
			<div id="mgmenu1" class="mgmenu_container clearfix ">
				<ul class="mgmenu clearfix" id="nav1">
					<!-- Begin Mega Menu -->
					<li class="mgmenu_button"><div class="mgm_button_text">
							<i class="icomoon-grid"></i>Menu
						</div></li>
					<!-- Button (Mobile Devices) -->
					<!-- Home -->
					<li><span><a href="index.html">Inicio</a></span>
					<!-- Begin Item --></li>
					<li><span><a href="about.html">Quienes Somos</a></span></li>
					<li><span><a href="donde.html">Dónde Estamos</a></span></li>

					<li><span><a href="services.html">Servicios</a></span>
					<!-- Begin Item --></li>
					<!-- End Item -->
					<!-- Pages -->
					<!-- Blog -->
					<li><span><a href="contact.html">Contacto</a></span>
					<!-- Begin Item --></li>
					<!-- End Item -->
					<!-- Blog -->

					<!-- End -->

					<!--
   <div role="search" class="hidden-xs hidden-sm" >
	<div id="search-form">
          <form method="get" action="#">
            <input type="text" id="search-box" class="search-text-box">
          </form>
        </div>
     
    </div>
-->

				</ul>
			</div>
		</div>



		<!-- Navigation ends
  ================================================== -->
		<!-- H1 Header starts
  ================================================== -->

		<section class="h1Header">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sectionTitle">
				<div class="container">
					<h1>Servicios</h1>

					<ul class="breadcrumbs">
						<li><a href="index-2.html">Inicio</a></li>
						<li><a href="services.html">Servicios</a></li>
					</ul>

				</div>
			</div>
		</section>

		<!-- H1 Header ends
  ================================================== -->

		<!-- MAIN CONTENT THUMBNAIL STARTS -->



		<!-- Core Services Start
  ================================================== -->

		<section class="mainContent ">

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<div class="container">

					<div class="title">
						<h4>Nuestros Servicios</h4>
					</div>
					<hr class="vertical-space1">

					<ul id="ElementTab" class="nav nav-tabs">
						<li class="active"><a href="#WebDesign" data-toggle="tab">Reserva de Tereré</a></li>
						<li><a href="#WebsiteOptimization" data-toggle="tab">Reserva de Equipos Deportivos</a></li>
						<li><a href="#WebHosting" data-toggle="tab">Impresión de Documentos</a></li>
						<li><a href="#MobileMarketing" data-toggle="tab">Asesoramiento</a></li>

					</ul>
					<div id="myTabContent" class="tab-content">

						<div class="tab-pane fade in active" id="WebDesign">
							<hr class="vertical-space2">
							<article class="icon-box">
								<i class="icomoon-lab"></i>
								<h5 class="helvetic5">Reserva de Tereré</h5>

								<p>Puedes acercarte a la oficina del CEP a reservar un equipo de tereré,
									el cual cuenta con Jarra, guampa, bombilla, hielo y yerba, todo incluido
									por sólo 2.000 Gs.
									Si tienes la yerba y el hielo no hace falta abonar nada por la jarra,
									guampa y bombilla. Solamente te pedios tu carnet de estudiante para
									tener una garantía.</p>

							</article>
						</div>

						<div class="tab-pane fade" id="WebsiteOptimization">
							<hr class="vertical-space2">
							<article class="icon-box">
								
								<h5 class="helvetic5">Equipos Deportivos</h5>
								<p>Puedes acercarte a solicitar el uso de algún equipo
								deportivo como lo son: </p>
								<p >
								 <li> Pelota de Fútbol de salón</li>
								 <li> Pelota de Volley</li>
								 <li> Pelota de BasketBall</li>
								 <li> Red de Volley</li>
								 <li> Inflador de Pelotas</li>
								</p>
								
							</article>
						</div>

						<div class="tab-pane fade" id="WebHosting">
							<hr class="vertical-space2">
							<article class="icon-box">
								<i class="icomoon-cube4"></i>
								<h5 class="helvetic5">Impresiones</h5>
								<p>Puedes solicitar la impresión de algún documento que 
								tengas en tu pendrive, google drive, etc.
								También puedes solicitar el modelo de notas, para reclamos, sugerencias,
								cambios de sección, solicitud de equipos, solicitud del quincho, etc.
								 La impresión por cada hoja es de tan solo 500 Gs. este monto es 
								 a modo de solventar el gasto de las hojas que debemos comprar para
								 la comodidad de ustedes.</p>
							</article>
						</div>

						<div class="tab-pane fade" id="MobileMarketing">
							<hr class="vertical-space2">
							<article class="icon-box">
								<i class="icomoon-mobile"></i>
								<h5 class="helvetic5">Asesoramiento con Representantes</h5>
								<p>Acercate a pedir asesoramientos con nuestros representantes
								estudiantiles, que con todo las ganas de ayudarte te atenderán 
								y guiarán a la correcta solución al incoveniente que estás teniendo.</p>
							</article>
						</div>

						<hr class="vertical-space3">


					</div>

				</div>
			</div>
		</section>



		<!-- Core Services end
  ================================================== -->





		<!-- Footer starts
  ================================================== -->   
  
      <footer class="clearfix" id="footer">
       <hr class="vertical-space2">
      <div class="container">  
            
            <div class="row">

<!-- Newsletter  starts
  ====================  
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footerNewsletter">
<article>
<h3>Newsletter</h3>

<p>Suscribite y mantenete informado</p>
<form method="POST" action="#" id="newsletterForm" class="form-inline" novalidate="novalidate">
               <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" >Enviar!</button>
      </span>
    </div>
            </form>

  <hr class="vertical-space2">
</article>
</div>-->    
<!-- Newsletter ends
  ==================== -->


<!-- Tweets  starts
  ==================== -->     
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footerTweets">
<article>
<h3>Recientes Tweets</h3>
<ul>

<li>Una nueva Primavera Estudiantil ha llegado, una primavera con fuerza que se siente y se contagia <a href="https://t.co/W05XBeF4pa">https://t.co/W05XBeF4pa</a> <a href="#" class="footerTweetDate">21 Set</a></li>
<li>Mañana martes 20 de setiembre saldremos todos los estudiantes juntos a marchar por un Estatuto<a href="https://t.co/esNgUW9Hph">https://t.co/esNgUW9Hph</a><a href="#" class="footerTweetDate">20 Set</a></li>
<li>Nos toca turno tarde-noche! Seguimos cubriendo y apoyando!! Hoy a partir de las 17 <a href="https://t.co/NVexr7Xghi">https://t.co/NVexr7Xghi</a><a href="#" class="footerTweetDate">17 Feb</a></li>


</ul>
  <hr class="vertical-space2">
</article>
</div>
<!-- Tweets ends
  ==================== -->




<!-- Contact info  starts
  ==================== -->
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footerContactInfo">
<article>
<h3>Contactos</h3>



                  <ul class="list-group">
                  <li class="list-group-item address"><span class="contactItemIcon"><i class="icomoon-location-5"></i></span>Direccion: Facultad Polictenica - Campus Universitario de la UNA - San Lorenzo</li>
                  <li class="list-group-item phone"><span class="contactItemIcon"><i class="icomoon-phone-4"></i></span>Tel: (021) 588 7194</li>                 
                  <li class="list-group-item email"><span class="contactItemIcon"><i class="icomoon-envelop"></i></span>Email: info@cepuna.com</li>
                  <li class="list-group-item website"><span class="contactItemIcon"><i class="icomoon-earth"></i></span>Web: www.cepuna.com</li>
                  </ul>
  <hr class="vertical-space2">
</article> 
</div>             

</div>

<!-- Contact info ends
  ==================== -->





      
     </div>

     <div class="footerBottom">
<div class="container">
  <hr class="vertical-space2">
 
 <!-- Copyright  starts
  ==================== -->

      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 copyright">
      <img src="images/logo-bottom.png" class="footerLogo" alt="CEP">
      <div class="copyText"><div class="copyText">© 2016.</div></div>


      </div>
<!-- Copyright ends
  ==================== -->

<!-- Footer menu  starts
  ==================== -->

      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12  footerMenu hidden-sm hidden-xs">
     
     <ul class="">
      <li class=""><a th:href="@{/}" href="index.html">Inicio</a></li>
      <li><a th:href="@{/about}" href="about.html">Quiene Somos</a></li>
	  <li><span><a th:href="@{/donde}" href="donde.html">Dónde Estamos</a></span></li>
      <li><a th:href="@{/services}" href="services.html">Servicios</a></li>
      <li><a th:href="@{/contact}" href="contact.html">Contactos</a></li>
      				
      </ul>
       </div>
      
      <form role="form " class="col-md-6 col-lg-6 col-sm-12 col-xs-12 visible-sm visible-xs "> 
      <div class="form-inline row BottomSearch">
      <div class="form-group ">
      <input type="Name" class="form-control" placeholder="Search">
      </div>
      </div>
      </form>
 <!-- Footer menu ends
  ==================== -->


</div>

</div>
      </footer>
  
<!-- Footer ends
  ================================================== -->


		<!-- Back to top  starts
  ==================== -->

		<span id="scroll-top"><a class="scrollup"><i
				class="icomoon-arrow-up"></i></a></span>

		<!-- Back to top  ends
  ==================== -->



		<!-- js
  ================================================== -->
		<script src="js/jquery.jcarousel.min.js"></script>
		<script src="js/netstudio.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-hover-dropdown.min.js"></script>
		<script src="js/jquery.easy-pie-chart.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/doubletaptogo.js"></script>


	</div>
</body>
</html>
